.promo {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 206px;
  &__title {
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle {
    position: relative;
    @include before_circle;
    padding-left: 10px;
    z-index: 2;
  }
  &__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
  }
  &__link {
    color: #000;
    font-weight: bold;
    &:hover {
      background: $main-color;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
  }
}


